.comments-container {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.total-comments {
  font-weight: 700;
}

.line {
  width: 100%;
  margin-bottom: 24px;
  border-color: #767676;
  opacity: 0.3;
}

.next-page {
  align-self: center;
  width: 234px;
  padding: 8px 34px;
  border-radius: 4px;
  background: #313439;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.next-page:disabled {
  cursor: default;
  opacity: 0.5;
}
