.comment {
  margin-bottom: 24px;
}

.comment-child {
  padding-left: 20px;
}

.comment-data-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.author-wrapper {
  display: flex;
  gap: 20px;
}

.avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-weight: 700;
}

.created {
  color: #8297ab;
}

.message {
  margin-left: 60px;
  overflow-wrap: break-word;
}

@media (min-width: 500px) {
  .avatar {
    width: 68px;
    height: 68px;
  }
}
