.likes-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.heart {
  width: 20px;
  height: 20px;
}

.likes {
  font-weight: 700;
}

.liked {
  border: none;
  background: none;
  cursor: pointer;
}

@media (min-width: 500px) {
  .heart {
    width: 22px;
    height: 22px;
  }
}
